* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
}


.container {
display: flex;
flex-wrap: wrap;
column-gap: 20px;
row-gap:20px;
max-width: 1200px;
margin: 0 auto;
justify-content: center;
}

.card{
border: 1px solid rgb(221, 220, 220);
border-radius: 10px;
display: flex;
width: 250px;
}

.image-container {
    position: relative;
}

.wimg{
    border-radius: 10px;
    width: 250px;
}

.image-overlay-header>.delivery,
.image-overlay-header>.cargo,
.image-overlay-header>.like  {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    width: 60px;
    align-items: center;
    font-size: 12px;
    line-height: 8px;
    column-gap: 5px;
    color: aliceblue;
    background-color: #0bc15c;
    border-radius: 2px;
    padding: 3px;
    height: 16px;
}
.image-overlay-header>.cargo {
    top: 36px;
    background-color: #535353;
}

.image-overlay-header>.like{
    top: 10px;
    left: 210px;
    width: 100px;
    background-color: transparent;
 
}

.image-overlay-header>.like>i{
       font-size: 30px;
       
}

.image-overlay-body>img {
    width: 50px;
    position: absolute;
    top: 70px;
    left: 10px;
}

.product-down {
    padding: 8px;
    font-size: 14px;
}

.product-down>.title>span {
    font-weight: 500;
}

.ratings-container>.ratings>i {
    color: #ffc000;
    font-size: 10px;
}

.ratings-container {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.ratings-container>span {
    font-size: 10px;
}

.ratings-container>.review-icon>i {
    font-size: 12px;
}

.price-promotion-container>.low-price-in-last-month {
    display: flex;
    color: #bb0039;
    column-gap: 5px;
    margin-top: 10px;
}

.price-promotion-container>.low-price-in-last-month>div {
    font-size: 12px;
    font-weight: 500;
}

.price-promotion-container>.lowest-price{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.price-promotion-container>.lowest-price>:nth-child(1){
    font-size: 14px;
    text-decoration: line-through;
    color: #535353;
}

.price-promotion-container>.lowest-price>:nth-child(2){
    font-size: 16px;
    color: #bb0039;
    font-weight: 600;
}

.badges-wrapper{
    display: flex;
    column-gap: 5px;
    padding: 5px;
}

.badges-wrapper>.coupon{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    padding-right: 5px;
    background-color: #fff0f5;
    border-radius: 5px;
}

.badges-wrapper>.video{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    padding-right: 5px;
    background-color: #ebf5ff;
    border-radius: 5px;
}
